{
   "blockdevices": [
      {"name":"sdz", "path":"/dev/sdz", "parttype":null, "mountpoint":null, "fstype":null, "label":null,
         "children": [
            {"name":"sdz1", "path":"/dev/sdz1", "parttype":"c12a7328-f81f-11d2-ba4b-00a0c93ec93b", "mountpoint":"@ESP_MNT@", "fstype":"vfat", "label":"EFI"},
            {"name":"sdz2", "path":"/dev/sdz2", "parttype":"0fc63daf-8483-4772-8e79-3d69d8477de4", "mountpoint":"/", "fstype":"ext4", "label":null}
         ]
      },
      {"name":"sdy", "path":"/dev/sdy", "parttype":null, "mountpoint":null, "fstype":null, "label":null,
         "children": [
            {"name":"sdy1", "path":"/dev/sdy1", "parttype":"c12a7328-f81f-11d2-ba4b-00a0c93ec93b", "mountpoint":"@ESP2_MNT@", "fstype":"vfat", "label":"EFI"}
         ]
      }
   ]
}
